html {
  font-size: 16px; /* px means "pixels": the base font size is now 10 pixels high  */
  font-family: 'Roboto', sans-serif;
  color: red;
  background-color: aliceblue;
}

h1 {
  margin: 0;
  /* font-size: 90px; */
  text-shadow: 3px 3px 1px black;
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
}
